<div class="panel panel-default">
    <div class="panel-body">
        <form id="post-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <!-- TITLE -->
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="title">Post Title:</label>
                    <input 
                        type="text" 
                        id="title" 
                        class="form-control" 
                        size="120" 
                        max="120" 
                        name="title"
                        [ngModel]="post?.title"
                        required 
                        #title="ngModel">
                </div>
                <div class="alert alert-danger" *ngIf="!title.valid && title.touched">
                    The Post Title is a required field.
                </div>
            </div>

            <!-- DATE -->
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="date">Post Date:</label>
                    <input 
                        type="text" 
                        id="date" 
                        class="form-control" 
                        size="120" 
                        max="120" 
                        name="date"
                        [ngModel]="post?.date"
                        #date="ngModel">
                </div>
            </div>

            <!-- IMAGE -->
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="imageUrl">Image URL:</label>
                    <input 
                        type="text" 
                        id="imageUrl" 
                        class="form-control" 
                        size="150" 
                        max="255" 
                        name="imageUrl" 
                        [ngModel]="post?.imageUrl"
                        #imageUrl="ngModel">
                    <br>

                </div>
            </div>

            <!-- CONTENT -->
            <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="content">Post Content:</label>
                        <textarea 
                            type="text" 
                            id="content" 
                            class="form-control" 
                            size="150" 
                            max="255" 
                            name="content" 
                            [ngModel]="post?.content"
                            required 
                            #content="ngModel"></textarea>
                        <br>
    
                    </div>
                    <div class="alert alert-danger" *ngIf="!content.valid && content.touched">
                            The Content is a required field.
                    </div>
            </div>

            <!-- Save and Cancel buttons  -->
            <div class="row">
                <div class="col-xs-12 btn-toolbar">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">
                        Save
                    </button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>