<div class="page-container">
    <div class="col-md-12">
        <div class="row imageContainer">
            <img class="aboutImage" src="https://photos.smugmug.com/photos/i-SxDbRFb/0/de8d968f/X2/i-SxDbRFb-X2.jpg"
                alt="landscape photo">
        </div>
    </div>
    <div class="infoContainer col-md-12">
        <div class="col-md-8 pContainer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin ipsum sit amet tellus
                maximus, ut porta odio interdum. Ut sed tempus dui, id porttitor mi. Nullam non maximus velit. Aliquam
                tristique, nunc vel imperdiet pellentesque, justo eros rutrum leo, eu commodo augue neque sit amet ex.
                Vestibulum fermentum sapien massa, sit amet viverra nulla posuere dignissim. Donec ac fringilla magna,
                sit amet blandit diam. Aliquam mattis ligula felis, et volutpat magna hendrerit vel. Morbi malesuada
                velit vitae tellus facilisis fringilla. Cras maximus augue consectetur erat aliquam, nec tincidunt nunc
                tincidunt. Proin venenatis leo non suscipit pulvinar. Pellentesque nec euismod tortor.

                Etiam auctor in neque in maximus. Etiam rhoncus semper tempus. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse erat metus, tincidunt in viverra imperdiet, facilisis ac lacus. Quisque
                pretium ante in lorem vestibulum, vel tempor nibh posuere. Vivamus varius tincidunt velit, eget porta
                libero tempor eget. Nulla sit amet sem quis lacus rhoncus euismod sit amet vitae velit. Suspendisse
                potenti. Etiam dapibus cursus tellus, vel suscipit dolor accumsan nec. Sed sed pretium nisi, nec
                posuere mauris.</p>
        </div>
        <div class="col-md-4">
            <img class="aboutImage" src="https://photos.smugmug.com/photos/i-6z8JVvT/0/2beaa256/X2/i-6z8JVvT-X2.jpg"
                alt="landscape photo">
        </div>
    </div>
<br>
<hr>

</div>