<div class="post-container" xmlns="http://www.w3.org/1999/html">
    <div class="">
        <div class="row pad-all">
            <h4 class="title margin-left-right">{{ post.title }}</h4>
            <span class="label-value"> {{ post.date }}</span>

            <div class="row margin-left-right buttons">
                <a [routerLink]="['edit']" class="btn btn-info">Edit</a>
                <a (click)="onDelete(post.id)" class="btn btn-danger">Delete</a>
            </div>
        </div> 
    </div>
    <div class="">
        <div class="pad-left-right">
            <br>
            <div class="row">
                <img src="{{ post.imageUrl }}" alt="">
            </div>
            <hr>
            <div class="row">
                <span class="content label-value"> {{ post.content }}</span>
            </div>
        </div>
    </div>
</div>